body, html {
    height: 100%;
    margin: 0;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a, p1 {
    font-family:'Arial', 'Sans-Serif', 'Helvetica';
    font-size: 0.875em;
    text-decoration: none;
    color: #999;
}
    
a:hover {
    text-decoration: underline;
}
    
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
    
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
   
img.logo1 {
    float: left;
    margin-left: 20%;
}

img.logo2 {
    float: left;
    margin-left: 0px;
}

.contact {
    float: left;
    margin-left: 30%;
}

.hero-image {
  background-image: url("https://res.cloudinary.com/cld-hadar/f_auto,q_auto/homepage.png");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media only screen and (max-width: 2000px) {
    
    .hero-image {
      background-image: url("https://res.cloudinary.com/cld-hadar/f_auto,q_auto,w_2000/homepage.png");
    }
    
@media only screen and (max-width: 1400px) {
    
    .hero-image {
      background-image: url("https://res.cloudinary.com/cld-hadar/f_auto,q_auto,w_1400/homepage.png");
    }

@media only screen and (max-width: 700px) {
    
    .hero-image {
      background-image: url("https://res.cloudinary.com/cld-hadar/f_auto,q_auto/mobile1.png");
      height: 85%;
    }
    
    .contact {
        display: none;
    }
    
    img.logo1 {
      float: left;
      margin-left: 40%;
    }

    img.logo2 {
      float: left;
      margin-left: 0px;
   }    
}
    
    
    
    
    
    
